.classZoneSection {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width-page);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    gap: 10px;
    padding-top: var(--navbar-height) !important;
}

@media all and (max-width: 1023px) {
    .classZoneSection {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
}

@media all and (max-width: 767px) {
    .classZoneSection {
        height: fit-content;
        flex-direction: column;
    }
}

@media all and (max-width: 500px) {
    .classZoneSection {
        padding: var(--navbar-height) var(--padding-lateral-mobile) !important;
    }
}

@media all and (max-height: 500px) {
    .classZoneSection {
        height: fit-content;
        flex-direction: column-reverse;
    }
}
