.classZoneSection {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width-page);
    margin: 0 auto;
    margin-top: calc(var(--navbar-height));
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    position: relative;
    padding: 20px !important;
    gap: 10px;
}

@media all and (max-width: 1023px) {
    .classZoneSection {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
}

@media all and (max-width: 767px) {
    .classZoneSection {
        height: fit-content;
        flex-direction: column-reverse;
    }
}

@media all and (max-height: 500px) {
    .classZoneSection {
        height: fit-content;
        flex-direction: column-reverse;
    }
}
