.courseClassroomBanner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--navbar-height) var(--padding-lateral) !important;
    position: relative;
}

.courseClassroomBanner h2 {
    color: white !important;
    font-size: 4rem;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    gap: 20px;
    text-align: center;
}

.titleContainer p {
    font-family: Roboto-ExtraLight;
}

.courseClassroomBanner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}

.courseClassroomBanner > * {
    position: relative;
}

.courseClassroomBanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--bcc-color), 0.7);
}

@media all and (max-width: 500px) {
    .titleContainer p {
        font-size: 2rem;
    }
}

@media all and (max-height: 500px) {
    .titleContainer p {
        font-size: 2rem;
    }

    .courseClassroomBanner h2 {
        font-size: 2.2rem;
    }
}
