.recentCoursesSection {
    width: 100%;
    max-width: var(--max-width-page);
    margin: 0 auto;
    padding: var(--section-vertical-paddingx2) var(--padding-lateral) !important;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}
