.boardZone {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    height: 100%;
    aspect-ratio: 1/1;
}

.board img {
    width: 100%;
    height: 100%;
}

@media all and (max-height: 500px) {
    .board {
        height: calc(100vh - var(--navbar-height));
    }
}
