.bestSellersSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    margin: 0 auto;
    max-width: var(--max-width-page);
    padding-left: var(--padding-lateral);
    padding-right: var(--padding-lateral);
}

.titleCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleRow {
}
