.register {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 0 !important;
    position: relative;
}

.register h2 {
    font-size: 3.5em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    font-family: Roboto-italic;
}

.register h2 span {
    color: rgb(var(--primary-color-050));
    font-size: 1.1rem;
    font-family: Roboto-thin-italic;
    opacity: 0.9;
}

.register form {
    width: 40%;
    min-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    position: relative;
}

.formContent {
    padding: 0 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.actionBtns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.bccImg {
    flex: 1;
    height: 100%;
    position: relative;
}

.bccImg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(var(--bcc-color), 1),
        rgba(var(--bcc-color), 0.1)
    );
}

.bccImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media all and (max-width: 1023px) {
    .bccImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .bccImg::before {
        background: linear-gradient(
            to right,
            rgba(var(--bcc-color), 1),
            rgba(var(--bcc-color), 0.8)
        );
    }

    .register {
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        height: auto;
    }

    .register form {
        width: 100%;
        min-width: 0;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 10px;
        position: relative;
    }

    .register {
        padding: var(--padding-lateral) !important;
        position: relative;
    }
}

@media all and (max-width: 500px) {
    .register {
        padding: var(--padding-lateral-mobile) !important;
        position: relative;
    }
}
