.coursesDataSection {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    padding: var(--section-vertical-paddingx2) var(--padding-lateral);
    position: relative;
    max-width: var(--max-width-page);
    margin: 0 auto;
}

.coursesDataSection h2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.itemsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
