.errorElement {
    margin: 0 auto;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: var(--padding-lateral);
    position: relative;
    text-align: center;
}

.errorElement h1 {
    font-size: 3rem;
    font-family: Roboto-bold;
}

.message {
    font-size: 2rem;
    font-family: Roboto-Light-italic;
}

.contactMessage {
    font-family: Roboto-thin;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactMessage p:last-child {
    color: rgb(var(--primary-color-500));
    font-family: Roboto-medium;
    font-size: 1.2rem;
}
