.courseCommentSection {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding: var(--section-vertical-padding) var(--padding-lateral) !important;
    max-width: var(--max-width-page);
}

.commentsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media all and (max-width: 500px) {
    .courseCommentSection {
        padding: var(--section-vertical-padding) var(--padding-lateral-mobile) !important;
    }
}
