.courseBanner {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: var(--padding-lateral) !important;
    padding-top: var(--navbar-height) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseBanner > * {
    position: relative;
}
.courseBanner > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    cursor: pointer;
}

.courseData {
    flex: 1;
    max-height: 90%;
    height: min(100%, 40vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.courseData > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.courseData > div h2 {
    font-size: 2.7rem;
    color: white;
}

.courseData > div p {
    font-size: 1.4rem;
    font-family: Roboto-thin;
}

.bannerBackground {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.courseBanner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.courseImgContainer {
    position: relative;
    max-width: 40vw;
    max-height: 90%;
    height: min(100%, 40vw);
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 5px;
}

.price {
    position: absolute;
    width: 200px;
    aspect-ratio: 1/1;
    background-color: rgb(var(--complementary-color-500));
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    top: -100px;
    right: -100px;
    z-index: 999;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2);
}

.price span {
    position: relative;
    top: 40px;
    right: 40px;
    font-family: Roboto-bold;
    font-size: 1.2rem;
}

.courseBanner figure {
    width: 100%;
    height: 100%;
    transition: 5s all ease;
}

.courseBanner figure:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.courseBanner figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.courseBanner figure:hover {
    transform: scale(1.05);
}
