.coursesRecomended {
    margin: 0 auto;
    width: 100%;
    padding: var(--section-vertical-padding) var(--padding-lateral) !important;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    max-width: var(--max-width-page);
}

.titleColCenter {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.titleColStart {
    display: flex;
    flex-direction: column;
    text-align: start;
}
.titleRowStart {
    text-align: start;
}

.titleRowCenter {
    text-align: center;
}

@media all and (max-width: 500px) {
    .coursesRecomended {
        padding: var(--section-vertical-padding) var(--padding-lateral-mobile) !important;
    }
}
