.videoCardImage {
    width: 100%;
    aspect-ratio: 16/9;
}

.videoCardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.title {
    font-size: 1.2rem !important;
    font-family: Roboto-thin;
}

.videosContainer {
    width: 100%;
    display: flex;
    gap: 20px;
}

.videoButton {
    width: fit-content !important;
    flex: 1 0 auto;
    max-width: calc((100% / 3) - (20px * (3 - 1) / 3));
    flex-direction: column;
    gap: 20px;
}

@media all and (max-width: 768px) {
    .videoButton {
        width: fit-content !important;
        flex: 1 0 auto;
        max-width: calc((100% / 2) - (20px * (2 - 1) / 2));
        flex-direction: column;
        gap: 20px;
    }
}

@media all and (max-width: 500px) {
    .videoButton {
        width: fit-content !important;
        flex: 1 0 auto;
        max-width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .videosContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
