.boardContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
    height: 100%;
    width: 50%;
    padding: 10px;
}

@media all and (max-width: 1023px) {
    .boardContainer {
        height: 50% !important;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}
