.completedIcon {
    position: absolute;
    top: -5px;
    right: -5px;
    color: rgb(var(--complementary-color-500));
}

.boardContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
    height: 100%;
    width: 50%;
    padding: 10px;
}

.boardContainer > div:first-child {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardContainer figure {
    height: 100%;
    aspect-ratio: 1/1;
}

.boardContainer figure img {
    width: 100%;
    height: 100%;
}

.themes {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.themes button {
    flex: 1;
    padding: 10px 7px;
}

@media all and (max-width: 1023px) {
    .boardContainer {
        height: 50% !important;
        width: 100%;
    }
}

@media all and (max-height: 500px) {
    .boardContainer figure {
        height: calc(100vh - var(--navbar-height));
    }
}
