.inpSearchContainer {
    flex: 1;
    display: flex;
    gap: 15px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.labelCol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.labelRow {
    display: flex;
    gap: 10px;
}

.labelColRerverse {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.labelRowReverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
