.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    align-items: center;
    background: linear-gradient(rgba(var(--bcc-color), 0.3), rgba(0, 0, 0, 0));
    backdrop-filter: blur(4px);
}

.hidden {
    transform: translateY(-100%);
}
