.contact {
    padding: 0 !important;
    display: flex;
    width: 100%;
    height: 100vh;
}

.imageContact {
    width: 50%;
    background-image: url("../../assets/images/static/static-image-contact_1920x2687_.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: var(--navbar-height);
    padding-left: var(--padding-lateral);
    padding-right: var(--padding-lateral);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.imageContact > * {
    position: relative;
}

.imageContact::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(var(--bcc-color), 0.6);
}

.contact h1 {
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    font-family: Roboto-Light;
}

.contact h1 span {
    font-size: 4rem;
    font-family: Roboto-medium;
}

.imageContact p {
    font-family: Roboto-Light-italic;
    font-size: 1.3rem;
}

@media all and (max-width: 768px) {
    .contact {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .imageContact {
        width: 100%;
        padding: calc(var(--navbar-height) + var(--section-vertical-padding))
            var(--section-vertical-padding);
        height: fit-content;
        align-items: center;
    }
}

@media all and (max-height: 500px) {
    .contact {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .imageContact {
        width: 100%;
        padding: calc(var(--navbar-height) + var(--section-vertical-padding))
            var(--section-vertical-padding);
        height: fit-content;
        align-items: center;
    }
}

@media all and (max-width: 500px) {
    .contact h1 {
        text-align: center;
    }
}
