.errorElement {
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width-page);
    font-size: 1.1rem;
    gap: 20px;
    font-family: Roboto-medium-italic;
}

.errorElement svg {
    font-size: 1.3rem;
}

.paddingLateral {
    padding: 0 var(--padding-lateral) !important;
}
.paddingNavbar {
    padding-top: var(--navbar-height) !important;
}

.container {
    width: 100%;
    background-color: rgba(222, 17, 17, 0.255);
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.errorElement button {
    opacity: 1 !important;
}

.errorElement a {
    opacity: 1 !important;
}

@media all and (max-width: 500px) {
    .errorElement {
        font-size: 1rem;
    }
}
