.descriptionCourseSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: var(--max-width-page);
    margin: 0 auto;
    padding: var(--section-vertical-paddingx2) var(--padding-lateral);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
