.explanationTheme {
    width: 40%;
    height: 100%;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    /* border: 1px solid red; */
}

@media all and (max-width: 1023px) {
    .explanationTheme {
        height: 50%;
        width: 100%;
        flex-direction: column;
    }
}

@media all and (max-width: 767px) {
    .explanationTheme {
        height: fit-content;
        flex-direction: column;
    }
}

@media all and (max-height: 500px) {
    .explanationTheme {
        height: 50%;
        width: 100%;
        flex-direction: column;
    }
}
