.courseClassroomContent {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    max-width: var(--max-width-page);
    margin: 0 auto;
    padding: var(--section-vertical-paddingx2) var(--padding-lateral);
    padding-bottom: var(--section-vertical-padding);
    position: relative;
}

.videoItem {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 16/9 !important;
    cursor: pointer;
}
