/* Col display */

.itemContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    transition: 0.2s all ease;
    border-radius: 5px;
    min-height: 200px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
}

.itemContainer > figure {
    min-width: 20%;
    width: 20%;
    max-height: 100%;
}

.itemContainer .actionsPrice {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-end;
}

/* Row display */

.itemRowContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: 0.2s all ease;
    min-width: calc(33.33% - 20px);
    flex: 1;
    max-width: calc(33.33% - 20px);
}

.itemRowContainer > figure {
    width: 100%;
    aspect-ratio: 16/9;
}

.itemRowContainer .actionsPrice {
    justify-content: space-between;
}

.itemRowContainer .price {
    font-size: 1.2rem;
}

.itemRowContainer .itemDataContainer {
    gap: 20px;
}

/* Commom styles */

.itemRowContainer > figure img,
.itemContainer > figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.itemRowContainer:hover,
.itemContainer:hover {
    transform: scale(1.02);
    background-color: rgba(var(--primary-color-100), 0.05);
}

.itemRowContainer .actionsPrice,
.itemContainer .actionsPrice {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.itemContainer .price,
.itemRowContainer .price {
    color: rgb(var(--complementary-color-500));
    font-family: Roboto-bold-italic;
}

.itemRowContainer .itemDataContainer,
.itemContainer .itemDataContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemContainer .itemData,
.itemRowContainer .itemData {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.itemContainer .itemData h3,
.itemRowContainer .itemData h3 {
    font-family: Roboto-light;
}

.itemContainer .description,
.itemRowContainer .description {
    font-family: Roboto-thin;
    opacity: 0.6;
}

.itemContainer .level,
.itemRowContainer .level {
    color: rgb(var(--primary-color-500));
    font-size: 14px;
}

@media all and (max-width: 768px) {
    .itemContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 5px;
        padding: 15px;
        cursor: pointer;
        transition: 0.2s all ease;
        min-width: calc(50% - 20px);
        max-width: 100%;
        flex: 1;
    }

    .itemContainer > figure {
        width: 100% !important;
        aspect-ratio: 16/9;
    }

    .itemContainer .actionsPrice {
        justify-content: space-between;
    }

    .itemContainer .price {
        font-size: 1.2rem;
    }

    .itemContainer .itemDataContainer {
        gap: 20px;
    }
}

@media all and (max-width: 1280px) {
    .itemContainer > figure {
        width: 30%;
        aspect-ratio: 16/9;
    }
}

@media all and (max-width: 600px) {
    .itemContainer {
        flex: 1;
        min-width: 100%;
    }
}
