.courseBanner {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 !important;
    padding-top: var(--navbar-height) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cbError {
    height: auto !important;
    padding-top: 0 !important;
    padding: calc(var(--section-vertical-padding) + var(--navbar-height)) 0 !important;
    padding-bottom: var(--section-vertical-padding) !important;
    cursor: normal !important;
}

.bannerBackground {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bannerBackground img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.courseBanner > * {
    position: relative;
}

.courseBanner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.courseBanner h2 {
    color: white !important;
}
