.loadingElement {
    height: 100% !important;
}

.loading {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 1.5rem !important;
    position: relative;
    z-index: 999;
}

loadingElementFit {
    height: fit-content !important;
}
