.bestPlayersContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.bestPlayersContainer > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userData {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.username {
    font-size: 4rem;
}

.userTitle {
    background-color: red;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
}

.userScore {
    text-align: center;
    font-size: 1.5rem;
    font-family: Roboto-thin;
    opacity: 0.8;
}

.userRank {
    font-size: 1.5rem;
    text-align: center;
}

.goChesscom {
    font-family: Roboto-bold !important;
}

@media all and (max-width: 500px) {
    .username {
        font-size: 2rem;
    }
}

@media all and (max-height: 500px) {
    .username {
        font-size: 2rem;
    }
}
