.userDefaultCourseItem figure {
    width: 100%;
    aspect-ratio: 1/1;
}

.userDefaultCourseItem figure img {
    width: 100%;
    height: 100%;
}

.errorElement {
    font-family: Roboto-thin-italic;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
}

.userDefaultCourseItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 1;
    flex-basis: 200px;
    max-width: 25%;
    min-width: 200px;
    background-color: rgba(var(--primary-color-100), 0.1);
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s all ease;
}

.userDefaultCourseItem:hover {
    transform: scale(1.05);
    border: 1px solid rgb(var(--primary-color-100));
}

.title {
    font-family: Roboto-extraLight;
    font-size: 1.2rem;
}

.progress {
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress span {
    position: relative;
    top: 4px;
    right: 4px;
    font-family: Roboto-medium;
    font-size: 0.9em;
}

.bccCompleted {
    background-color: rgb(var(--complementary-color-500));
}

.bccInProgress {
    background-color: rgb(var(--primary-color-500));
}
