.contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: var(--navbar-height) var(--padding-lateral);
    padding-bottom: var(--padding-lateral);
    width: 50%;
}

.contactForm > div:first-child {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.contactForm button {
    width: fit-content;
}

@media all and (max-width: 1024px) {
    .contactForm {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: var(--section-vertical-padding) var(--padding-lateral) !important;
        width: 100%;
    }
}

@media all and (max-width: 500px) {
    .contactForm {
        padding: var(--section-vertical-padding) var(--padding-lateral-mobile) !important;
    }
}

@media all and (max-height: 500px) {
    .contactForm {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: var(--section-vertical-padding) var(--padding-lateral);
        width: 100%;
    }
}
