.closeHomeSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
}

.closeHomeSection h2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    text-transform: uppercase;
    font-family: Roboto-thin;
    text-align: center;
}

.closeHomeSection > p {
    font-size: 1.3rem;
    font-family: Roboto-thin-italic;
    text-align: center;
}

.closeHomeSection > figure {
    width: 200px;
}

.closeHomeSection > figure img {
    width: 100%;
    height: 100%;
}

@media all and (max-width: 500px) {
    .closeHomeSection h2 {
        font-size: 2.5rem;
    }

    .closeHomeSection {
        padding: var(--section-vertical-padding) var(--padding-lateral-mobile) !important;
    }
}
