.itemContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    transition: 0.2s all ease;
    border-radius: 5px;
    min-height: 150px;
    width: 100%;
}

.itemContainer:hover {
    transform: scale(1.02);
}

.itemContainer > figure {
    min-width: 20%;
    width: 20%;
    max-height: 100%;
}

.itemContainer > figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.actionsPrice {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-end;
}

.price {
    color: rgb(var(--complementary-color-500));
    font-family: Roboto-bold-italic;
}

.itemDataContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemData {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.itemData h3 {
    font-family: Roboto-light;
}

.description {
    font-family: Roboto-thin;
    opacity: 0.6;
}

.level {
    color: rgb(var(--primary-color-500));
    font-size: 14px;
}
