.coursesColumnDisplay {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coursesRowDisplay {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
