.navbar {
    width: 100%;
    max-width: var(--max-width-page);
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
    padding: 20px var(--padding-lateral) !important;
    background: linear-gradient(rgba(var(--bcc-color), 0.3), rgba(0, 0, 0, 0));
    backdrop-filter: blur(4px);
}

.logo {
    height: 70% !important;
    aspect-ratio: 1/1 !important;
}

.logo img {
    width: 100%;
    height: 100%;
}

.linksContainer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@media all and (max-width: 500px) {
    .navbar {
        padding: 20px var(--padding-lateral-mobile) !important;
    }
}
