:root {
    --bcc-color: 7, 3, 1;
    --primary-color-050: 244, 197, 164;
    --primary-color-100: 241, 178, 133;
    --primary-color-200: 237, 159, 103;
    --primary-color-300: 234, 139, 72;
    --primary-color-400: 230, 120, 42;
    --primary-color-500: 213, 103, 25;
    --primary-color-600: 186, 90, 22;
    --primary-color-700: 160, 77, 19;
    --primary-color-800: 133, 64, 16;
    --primary-color-900: 107, 51, 12;

    --complementary-color-050: 164, 211, 244;
    --complementary-color-100: 133, 196, 241;
    --complementary-color-200: 103, 181, 237;
    --complementary-color-300: 72, 167, 234;
    --complementary-color-400: 42, 152, 230;
    --complementary-color-500: 25, 135, 213;
    --complementary-color-600: 23, 124, 195;
    --complementary-color-700: 21, 112, 178;
    --complementary-color-800: 19, 101, 160;
    --complementary-color-900: 17, 90, 142;

    --neutral-color-050: 224, 210, 200;
    --neutral-color-100: 223, 204, 190;
    --neutral-color-200: 222, 198, 181;
    --neutral-color-300: 221, 192, 172;
    --neutral-color-400: 220, 187, 163;
    --neutral-color-500: 214, 181, 158;
    --neutral-color-600: 206, 178, 157;
    --neutral-color-700: 199, 174, 156;
    --neutral-color-800: 190, 170, 155;
    --neutral-color-900: 183, 166, 154;

    --button-px: 15px;
    --button-py: 12px;
    --button-border-radius: 5px;
    --button-font-size: 14px;

    --navbar-height: 70px;

    --padding-lateral: 50px;
    --section-vertical-padding: 150px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row-reverse {
    flex-direction: row-reverse !important;
}

a {
    text-decoration: none;
    color: white;
    font-size: var(--button-font-size);
}

section,
article {
    padding: 100px 0;
}

.active {
    color: rgb(var(--primary-color-500));
    font-family: Roboto-bold-italic !important;
}

h2 {
    font-size: 3rem;
    color: rgb(var(--primary-color-050));
}

button,
a.button {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: var(--button-font-size);
    border-radius: var(--button-border-radius);
    padding: var(--button-py) var(--button-px);
    transition: 0.3s all ease;
    color: white;
    font-family: Roboto-medium;
}

.size-140 {
    font-size: 1.4em;
}

.size-110 {
    font-size: 1.1em;
}

.size-90 {
    font-size: 0.9em;
}

.size-80 {
    font-size: 0.8em;
}

.text-regular {
    font-family: Roboto;
}

button > svg,
a.button > svg {
    font-size: 1.3em;
}

.buttonPrimary {
    background-color: rgb(var(--primary-color-500));
}

.buttonPrimary:hover {
    background-color: rgba(var(--primary-color-500), 0.8);
}

.buttonSecondary {
    background-color: transparent;
}

.buttonSecondary:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.span-pr-color {
    color: rgb(var(--primary-color-500));
}

.upperCase {
    text-transform: uppercase;
}

@font-face {
    font-family: Roboto;
    src: url("/public/fonts/Roboto/static/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-bold;
    src: url("/public/fonts/Roboto/static/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto-medium;
    src: url("/public/fonts/Roboto/static/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-italic;
    src: url("/public/fonts/Roboto/static/Roboto-Italic.ttf");
}

@font-face {
    font-family: Roboto-light;
    src: url("/public/fonts/Roboto/static/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto-extralight;
    src: url("/public/fonts/Roboto/static/Roboto-ExtraLight.ttf");
}

@font-face {
    font-family: Roboto-light-italic;
    src: url("/public/fonts/Roboto/static/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: Roboto-bold-italic;
    src: url("/public/fonts/Roboto/static/Roboto-BoldItalic.ttf");
}

@font-face {
    font-family: Roboto-thin;
    src: url("/public/fonts/Roboto/static/Roboto-Thin.ttf");
}

@font-face {
    font-family: Roboto-thin-italic;
    src: url("/public/fonts/Roboto/static/Roboto-ThinItalic.ttf");
}

body {
    background-color: rgb(var(--bcc-color));
    color: white;
    font-family: Roboto;
}
