.themeBtn {
    width: 100% !important;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.themeData {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.themeTitle {
    font-family: Roboto-light;
    font-size: 1.2rem !important;
}
.themeDescription {
    font-family: Roboto-ExtraLight;
}
