.userCourses {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}

.userCourses > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userCourses > div h3 {
    font-family: Roboto-thin-italic;
}
