.msgEmpty {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 20px;
    opacity: 0.4;
    color: rgb(var(--primary-color-050));
    font-family: Roboto-Light-italic;
}

.msgEmpty svg {
    width: 30px;
}

.msgEmpty p {
    width: calc(100% - 30px);
}

.msgRow {
    flex-direction: row;
}

.msgCol {
    flex-direction: column;
}

.msgStart {
    justify-content: flex-start;
}

.msgCol {
    justify-content: center;
}

@media all and (max-width: 768px) {
    .msgEmpty {
        font-size: 1.1rem;
    }
}

@media all and (max-width: 500px) {
    .msgEmpty {
        font-size: 1rem;
        text-align: center;
    }
}
